nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #363636;
    width: 15vw;
    height: 100vh;
}

.Nav__Links{
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Nav__Links a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    font-size: 1.3vw;
}
.Nav__Links a:hover{
    background-color: #213547;

}

.Nav__Contacts{
    font-size: 14px;
}