/* стили для tooltip */
.customTooltip {
    background-color: blue !important;
    color: white !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

/*  */
.MainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
/* Стили для секции с рабочей линией */
.MainContent__WorkingLine{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 98%;
    height: 35%;

    background-color: rgb(243, 243, 243);

    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
}

.WorkingLine{
    display: flex;
    align-items: center;

    width: 65%;
    height: 100%;
}

.WorkingLine__Element{
    width: 60px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    border: 1px solid #212121;
}

.WorkingLine__Element_good {
    background-color: green;
  }
  
  .WorkingLine__Element_normal {
    background-color: orange;
  }
  
  .WorkingLine__Element_bad {
    background-color: red;
  }


/*  */

.MainContent__Statistic{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}
.Statistic__Box{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 23%;
    height: 100%;
    background-color: rgb(243, 243, 243);

    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
}